In [52]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [53]:
netflix = pd.read_csv("C:/Users/kencl/UCDProject/netflixData.csv")

In [54]:
print(netflix.head())

                                Show Id                          Title  \
0  cc1b6ed9-cf9e-4057-8303-34577fb54477                       (Un)Well
1  e2ef4e91-fb25-42ab-b485-be8e3b23dedb                         #Alive
2  b01b73b7-81f6-47a7-86d8-acb63080d525  #AnneFrank - Parallel Stories
3  b6611af0-f53c-4a08-9ffa-9716dc57eb9c                       #blackAF
4  7f2d4170-bab8-4d75-adc2-197f7124c070               #cats_the_mewvie

                                         Description  \
0  This docuseries takes a deep dive into the luc...
1  As a grisly virus rampages a city, a lone man ...
2  Through her diary, Anne Frank's story is retol...
3  Kenya Barris and his family navigate relations...
4  This pawesome documentary explores how our fel...

                      Director  \
0                          NaN
1                       Cho Il
2  Sabina Fedeli, Anna Migotto
3                          NaN
4             Michael Margolis

                                           Genres  \
0                                      Reality TV
1  Horror Movies, International Movies, Thrillers
2             Documentaries, International Movies
3                                     TV Comedies
4             Documentaries, International Movies

                                                Cast Production Country  \
0                                                NaN      United States
1                           Yoo Ah-in, Park Shin-hye        South Korea
2                        Helen Mirren, Gengher Gatti              Italy
3  Kenya Barris, Rashida Jones, Iman Benson, Genn...      United States
4                                                NaN             Canada

   Release Date Rating  Duration Imdb Score Content Type         Date Added
0        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
1        2020.0  TV-MA    99 min     6.2/10        Movie  September 8, 2020
2        2019.0  TV-14    95 min     6.4/10        Movie       July 1, 2020
3        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
4        2020.0  TV-14    90 min     5.1/10        Movie   February 5, 2020

In [55]:
print(netflix.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5967 non-null   object
 1   Title               5967 non-null   object
 2   Description         5967 non-null   object
 3   Director            3903 non-null   object
 4   Genres              5967 non-null   object
 5   Cast                5437 non-null   object
 6   Production Country  5408 non-null   object
 7   Release Date        5964 non-null   float64
 8   Rating              5963 non-null   object
 9   Duration            5964 non-null   object
 10  Imdb Score          5359 non-null   object
 11  Content Type        5967 non-null   object
 12  Date Added          4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.1+ KB
None

In [56]:
netflix.isnull().sum()

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

As there is a lot of null values in multiple columns, instead of dropping null values and losing a good chunk of the dataset i decided to fill most of the missing values, and drop where i am not losing much.

In [57]:
netflix["Director"] = netflix["Director"].fillna("unknown")

In [58]:
netflix["Cast"] = netflix["Cast"].fillna("unknown")

In [59]:
netflix["Rating"].value_counts()

TV-MA    2541
TV-14    1551
TV-PG     527
R         385
TV-Y      240
PG-13     226
TV-Y7     206
TV-G      146
PG        125
G          15
NC-17       1
Name: Rating, dtype: int64

giving that TV-MA shows up the most often i decided to replace null values in this category with TV-MA

In [60]:
netflix["Rating"] = netflix["Rating"].fillna("TV-MA")

In [61]:
netflix.isna().sum()

Show Id                  0
Title                    0
Description              0
Director                 0
Genres                   0
Cast                     0
Production Country     559
Release Date             3
Rating                   0
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

I am not going to be using date added and i am not losing as much values in the remaining null values so i have decided to drop the rest

In [64]:
netflix = netflix.drop("Date Added", axis=1)

In [68]:
netflix = netflix.dropna(subset=["Production Country", "Release Date", "Duration", "Imdb Score"])

In [69]:
netflix.isnull().sum()

Show Id               0
Title                 0
Description           0
Director              0
Genres                0
Cast                  0
Production Country    0
Release Date          0
Rating                0
Duration              0
Imdb Score            0
Content Type          0
dtype: int64